<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home-style.css" type="text/css">
    <link rel="stylesheet" href="/css/navbar-style.css" type="text/css">
    <link rel="stylesheet" href="/css/loading-style.css" type="text/css">
    <link rel="stylesheet" href="/css/profile-style.css" type="text/css">
    <link rel="icon" href="/assets/user.png" type="image/x-icon">
    <% if (user) { %>
        <title>Research - Admin</title>
    <% } else {  %>
        <title>Research</title>
    <% } %>
</head>
<body>

    <%- include('./../components/loading.ejs') %>

    <%- include('./../components/navbar.ejs') %>

    <%- include('./../components/profile.ejs') %>

    <form action="/user" method="get" class="head">
        <div class="search-container">
            <input autocomplete="off" type="text" name="search" placeholder="Search name">
        </div>
        <% if (response.persons.length != 0) { %>
            <section>
                <% response.persons.forEach(person => { %>
                    <button class="container-box" type="button">
                        <div class="image">
                            <img src="/assets/profile.png">
                        </div>
                        <div class="name">
                            <h3 class="n" id="name"><%= person.name %></h3>
                        </div>
                        <div class="role">
                            <h4>Role</h4>
                            <p class="r" id="role"><%= person.roles %></p>
                        </div>
                        <div class="workplace">
                            <h4>Workplace</h4>
                            <p class="w" id="workplace"><%= person.workplace %></p>
                        </div>
                        <div class="contact">
                            <h4>Contact</h4>
                            <p class="c" id="contact"><%= person.contact %></p>
                        </div>
                        <% if (user) { %>
                            <div class="container-btn-edit">
                                <a href="/admin/edit/<%= person.id %>">&#9998</a>
                            </div>
                        <% } %>
                    </button>
                <% }) %>
            </section>
        <% } else { %>
            <div class="not-container">
                <h1>Not Found</h1>
            </div>
        <% } %>
                        
        <div action="/user" method="get" class="pagination">
            <% for (let i = 1; i <= response.page; i++) { %>
                <% if (response.isPage == i) { %>
                    <input class="is-page" type="submit" name="page" value="<%= i %>" placeholder="<%= i %>">
                <% } else { %>
                    <input type="submit" name="page" value="<%= i %>" placeholder="<%= i %>">
                <% } %>
             <% } %>
        </div>
    </form>
    <script src="/js/loading-script.js"></script>
    <script src="/js/home-script.js"></script>
</body>
</html>